{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs
{% endblock %}


{% block body %}
	<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">

		Acteurs

	</h1>
	<style>
		.flexbox-container {
			display: -ms-flex;
			display: -webkit-flex;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;
			align-items: stretch;
			width: 25%;
		}

		.flexbox-container > div {
			width: 50%;
			margin: 0 10px;
			flex: 1;
			padding: 10px;
		}
	</style>

	<center>
		<div class="flexbox-container">
			{% for actor in actors %}
				<div>
					<img style="width:100px;" src="{{ asset(actor.image) }}"><br>
					<h3>{{ actor.prenom }}
						{{ actor.nom }}</h3><br>
				</div>
			{% endfor %}
		</div>
	</center>
{% endblock %}
