{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<center>
		<h1 class="border border-dark rounded p-2 m-2 text-white bg-primary">
			Bienvenue sur mon site
		</h1>
	</center>
{% endblock %}
